body{
    background-color: #F5F7F8;
}

p{
    color:#495E57;
    font-family: "微軟正黑體";
    font-size: 20px;
}

.content {
    margin-left: 370px;
    margin-right: 10px;
    padding-top: 10px;
    padding-right: 30px;
    padding-left: 20px;
}

/*目錄*/
.side {
    background-color: #495E57;
    position: fixed;
    left: 0px;
    top: 0px;
    min-height: 100%;
    width: 350px;
}

.side h3{
    color: #F5F7F8;
    margin-bottom: -5px;
    font-size: 35px;
    padding-top: 65px;
    padding-left: 35px;
}

.side hr{
    border: none;
    height: 6px;
    background-color: #F5F7F8;
    width: 110%;
    margin-bottom: -15px;
    margin-left: 10%;
}

.list{
    position: absolute;
    left: 20px;
}

.list a:hover {
    background-color: #45474B;
    margin-left: 30px;
    padding-left: 0px;
}

.side a {
    text-decoration: none;
    color: #F4CE14;
    margin-bottom: 30px;
    margin-top: 30px;
    font-size: 28px;
    padding-left: 35px;
}

/*口號*/
.slogan{
    background-color: #F4CE14;
    border: 6px dashed #495E57;
    border-radius: 20px;
    width: 80%;
    height: 20%;
    margin: 15px auto 5px auto;
    padding: 15px;
}

.slogan h1{
    color: #F5F7F8;
    text-align: center;
    font-size: 35px;
    margin-top: 3px;
    margin-bottom: 3px;
}

.content hr{
    border: none;
    height: 6px;
    background-color: #495E57;
    width: 100%;
    margin: 35px auto 35px auto;
}

h2{
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 15px;
    color: #495E57;
    display: block;
}

/*個人基本資訊*/
.info{
    background-color: #F4CE14;
    border: none;
    padding: 30px;
    border-radius: 20px;
    display: flex;
    margin-bottom: 35px;
    border: 6px dashed #495E57;
}

.left{
    border-right: 6px #495E57 solid;
    width: 50%;
    padding-right: 30px;
}

.left img{
    float: left;
    margin-right: 30px;
    width: 190px;
    height: 300px; 
    border: 6px solid #45474B;
    border-radius: 20px;
}

/*我的圖片-----------------------動畫*/
.left img:hover {
    animation: shake 0.1s;
    animation-iteration-count: infinite;
  }
  
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    100% { transform: translate(1px, -2px) rotate(0deg); }
  }

.left p{
    background-color: #F5F7F8;
    border-radius: 20pt;
}

.left a{
    text-decoration: none;
}

/*特質--------------------------------動畫*/
.right{
    background-color: #F5F7F8;
    border-radius: 20pt;
    margin-left: 30px;
    width: 50%;
    overflow: auto;
    text-align: center;
    color:#495E57;
    font-family: "微軟正黑體";
    font-size: 25px;
}

.right ul{
    margin-left: 15px;
}

.right li{
    margin: 5px;
    width: 80px;
    border-right-style: solid;
    border-right-color: #495E57;
}

.right li::marker {
    color: #F4CE14;
  }

.fir{
    animation: bar1 2s ease-out;
    border-right-width: 250px;
}

@keyframes bar1{/*動畫*/
    from{
        border-right-width: 0px;
    }
    to{
        border-right-width: 250px;
    }
}

.sec{
    animation: bar2 2s ease-out;
    border-right-width: 180px;
}

@keyframes bar2{/*動畫*/
    from{
        border-right-width: 0px;
    }
    to{
        border-right-width: 180px;
    }
}

.thi{
    animation: bar3 2s ease-out;
    border-right-width: 300px;
}

@keyframes bar3{/*動畫*/
    from{
        border-right-width: 0px;
    }
    to{
        border-right-width: 300px;
    }
}

.for{
    animation: bar4 2s ease-out;
    border-right-width: 250px;
}

@keyframes bar4{/*動畫*/
    from{
        border-right-width: 0px;
    }
    to{
        border-right-width: 250px;
    }
}

.fif{
    animation: bar5 2s ease-out;
    border-right-width: 300px;
}

@keyframes bar5{/*動畫*/
    from{
        border-right-width: 0px;
    }
    to{
        border-right-width: 300px;
    }
}

/*個人專業*/
.both{
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}

.both01 {
    display: flex;
    width: 100%;
    flex-direction: column;
    
}

.prof{
    background-color: #F4CE14;
    border: none;
    padding: 20px;
    border-radius: 20px;
    margin-right: 50px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-weight: bold;
    font-size: 30px;
    border: 6px dashed #495E57;
}

.match{
    margin: auto;
    text-align: center;
    color: #495E57;
}

.match p{
    margin: 0px;
    font-weight: bold;
    font-size: 25px;
    background-color: #495E57;
    color: #F5F7F8;
}

.pbar1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: 
      radial-gradient(closest-side, #F4CE14 70%, transparent 50% 50%),
      conic-gradient(#45474B 70%, #F5F7F8 0);    
}

.pbar2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: 
        radial-gradient(closest-side, #F4CE14 70%, transparent 50% 50%),
        conic-gradient(#45474B 70%, #F5F7F8 0);    
}

.pbar3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: 
        radial-gradient(closest-side, #F4CE14 70%, transparent 50% 50%),
        conic-gradient(#45474B 70%, #F5F7F8 0);    
}

.pbar4 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: 
        radial-gradient(closest-side, #F4CE14 70%, transparent 50% 50%),
        conic-gradient(#45474B 70%, #F5F7F8 0);
}

/*技能*/
.skill{
    border: 6px dashed #495E57;
    background-color: #F4CE14;
    height: 100%;
    padding: auto;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color:#495E57;
    font-family: "微軟正黑體";
    font-size: 20px;
}

/*語言*/
.up{
    margin-top: 30px;
    padding: 0px 30px -10px 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: bold;
    font-family: "微軟正黑體";
    font-size: 25px;
}

.up p{
    margin: 0px;
    background-color: #F5F7F8;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: lighter;
    font-size: 30px;
}

.skill hr{
    border: none;
    height: 6px;
    background-color: #495E57;
    width: 100%;
    margin: 30px 50px 10px 50px;
}

/*興趣*/
.down{
    background-color: #F5F7F8;
    padding: 10px;
    margin: 0px 20px 20px 20px;
    border-radius: 20px;
    display: flex;
    width: 100%;
}

.interest{
    font-weight: bold;
    font-family: "微軟正黑體";
    font-size: 25px;
    margin-bottom: 0px;
    margin-top: 10px;
}

.interets{
    flex-direction: column;
    font-weight: lighter;
}

.interests ol{
    margin-left: 35px;
    font-size: 25px;
}

.cat{
    border-radius: 20px;
    width: 200px;
    height: 150px;
    margin-bottom: 10px;
    margin-left: 15px;
    transition: transform 0.2s;
}

.cat:hover{
    transform: scale(1.1);
}

.paints{
    width: 210px;
    height: 320px;
    background-color: #F5F7F8;
    overflow: auto;
    white-space: nowrap;
    margin: 30px 0px 0px 25px;
    align-items: center;
    justify-content: center;
}
  
/*個人經歷*/
.story{
    background-color: #F4CE14;
    border: none;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
    padding: 0px 35px 35px 35px;
    border: 6px dashed #495E57;
}

.block{
    background-color: #F5F7F8;
    border: none;
    padding: 30px;
    border-radius: 20px;
    display: flex;
    width: 100%;
    margin-top: 35px;
}

.block img{
    margin-right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    transition: transform 0.2s;
}

.block p{
    justify-content: center;
    color:#495E57;
    font-family: "微軟正黑體";
    font-size: 22px;
    display: flex;
    align-items: center;
}

.block img:hover {
    transform: scale(0.9);
}


/*其他聯絡資訊*/
.contact{
    border: 6px dashed #495E57;
    background-color: #F4CE14;
    padding: 30px;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 35px;
    padding: 20px;
}

.acc{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.acc img{
    border: 4pt solid #F5F7F8;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    box-shadow: 0 9px #45474B;
}

.acc img:active {
    box-shadow: 0 5px #45474B;
    transform: translateY(4px);
}

.acc p{
    margin: 10px auto -5px auto;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
}

.acc a {
    text-decoration: none;
}

.acc p:hover {
    background-color: #F5F7F8;
}

footer{
    background-color: #45474B;
    text-align: center;
    padding: 10px;
    margin-left: 342px;
    margin-right: -8px;
    margin-bottom: -20px;
    color: #F5F7F8;
    font-family: "微軟正黑體";
    font-size: 20px;
}

.top img{
    width: 60px;
    height: 60px;
    position: fixed;
    right: 10px;
    bottom: 10px;
    border: 3px solid #45474B;
    border-radius: 50%;
}

.top img:active {
    transform: translateY(4px);
}

/*變小*/
@media screen and (max-width: 900px) {
    .side {
        display: none;
    }

    .content{
        margin: auto;
        padding-right: 20px;
    }

    .info{
        display: flex;
        flex-wrap: wrap;
    }

    .left{
        display: flex;
        flex-direction: column;
        text-align: center;
        border: none;
        margin: auto;
        padding: 0px;
        width: 100%;
    }

    .left img{
        margin-left: auto;
        margin-right: auto;
    }

    .right{
        margin: auto;
        padding: auto;
        width: 100%;
    }

    .both{
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        padding: auto;
    }

    .both01{
        margin: 30px 0px 30px 0px;
    }

    .prof{
        margin-right: 15px;
    }

    .skill{
        margin-left: 15px;
    }

    .up{
        margin-top: 35px;
        padding: 0px 0px 10px 0px;
    }

    .down{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 30px;
    }

    .story{
        padding-right: 30px;
    }

    .block{
        display: flex;
        flex-direction: column;
        overflow: auto;
    }

    .block img{
        margin-right: 0px;
    }

    .acc{
        margin-left:10px;
        margin-top: 10px;
    }

    footer{
        margin-left: -20px;
        margin-right: -8px;
    }
  }
